/*------------------UNIVERSAL STYLING-----------------*/
*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-color: #080001;
  color: #FFFCFC;
}

h1, h2, h3, ul a{
  font-family: "forma-djr-micro", "sans-serif";
  font-weight: 700;
  font-style: normal;
  color: #FFFCFC;
}

p{
  font-family: "forma-djr-micro", "sans-serif";
  font-weight: 400;
  font-style: normal;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

li a:hover{
  color: #FF001E;
}

li a:active{
  color: #BF061C;
}

.current{
  color: #BF061C;
}

/*Header (There are two different styles of Header)*/

header{
  height:120px
}


header nav li{
  display: inline-block;
  font-size: 20px;
}

.main-nav{
  margin:50px;
}

.main-nav li{
  margin-right: 50px;
}

.main-nav-img{
  margin: 50px;
  float: right;
}

.main-nav-img li{
  margin-left: 50px;
}

.header-logo{
  vertical-align: middle;
  max-width: 100px;
  margin-left: 50px;
  margin-top: 10px;
}

/*Footer*/

footer{
  height: 220px;
}

.foot-nav{
  font-size: 30px;
  line-height: 50px;
  margin:20px 50px;
  height: 220px;
  float: left;
}

form{
  max-width: 600px;
  height: 220px;
  font-family: "forma-djr-micro", "sans-serif";
  font-weight: 700;
  font-style: normal;
  color: #FFFCFC;
  float: right;
  margin: 20px 50px;
}

.label-input-wrap{
  display: block;
  font-size: 30px;
}

textarea{
  height:100px;
  width: 500px;
  background: #FFFCFC;
  color: #080001;
  border-radius: 10px;
  margin: 5px 0px;
  padding: 5px;
  font-family: "forma-djr-micro", "sans-serif";
  font-weight: 400;
  font-style: normal;
  font-size: 15px;

}

.submit input{
  background: #EBE8E7;
  font-family: "forma-djr-micro", "sans-serif";
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  color: #706C6B;
  padding: 5px 10px;
  border-radius: 10px;
  float: right;

}

/*------------------INDEX ONLY STYLING-----------------*/

.home{
  background-image: url('images/helmet-bg.jpg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 99%;
}

.home-header{
  font-family: "octin-stencil", "sans-serif";
  font-weight: 700;
  font-style: normal;
  font-size: 130px;
  line-height: 130px;
  margin-left: 50px;
  margin-bottom: 250px;
}

.countdown{
  background: #080001;
  height: 400px;
}


#countdown{
  font-family: "forma-djr-micro", "sans-serif";
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
  float: left;
  margin: 75px 0px;
}

.countdown-sect h2{
  float: right;
  font-size: 100px;

}

span{
  font-size: 140px;
  line-height: 130px;
}

.countdown-sect{
  background: #706C6B;
  height: 300px;
  float: left;
  width: 92%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 50px 0px;
  padding: 30px 15px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0 rgba(112,108,107,0.4);

}

.latest-pod{
  background: #FFFCFC;
  height: 400px;

}

.pod{
  border-radius: 20px;
  margin: 50px;
  float: left;
  box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.4);
}

.pod-copy{
  background: #706C6B;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 70%;
  height: 300px;
  margin: 50px 0px;
  padding-top: 30px;
  float: right;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.4);
}

.pod-copy h2,
.pod-copy p{
  color: #FFFCFC;
  padding: 10px 30px;
  line-height: 30px;
}

.pod-copy p{
  font-size: 20px;
}



/*------------------ABOUT ONLY STYLING-----------------*/

.about-heading{
  font-size: 70px;
  margin-top: 80px;
  margin-left: 50px;
  margin-bottom: 40px;
}


.league-history{
  background: #FFFCFC;
  height: 540px;
}

.draft{
  border-radius: 20px;
  margin: 50px;
  float: left;
  box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.4);
}


.about-copy{
  background: #706C6B;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 50%;
  height: 450px;
  margin: 50px 0px;
  padding-top: 30px;
  float: right;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.4);
}

.about-copy h2,
.about-copy p{
  color: #FFFCFC;
  padding: 10px 30px;
  line-height: 30px;
}

.about-copy h2{
  font-size: 30px;
}

.about-copy p{
  font-size: 18px;
}


.wait-list-sect{
  background: #EBE8E7;
  color: #706C6B;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 35%;
  height: 300px;
  margin-top: 50px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0 rgba(235,232,231,0.4);
}

.wait-list-sect h2{
  color: #706C6B;
  padding: 30px 30px;
  line-height: 10px;
  font-size: 30px;
  width: 60%;
  margin-left: auto;

}
.wait-list-sect ol{
  color: #706C6B;
  line-height: 35px;
  font-size: 20px;
  font-family: "forma-djr-micro", "sans-serif";
  font-weight: 400;
  font-style: normal;
  width: 60%;
  margin-left: auto;
}

/*------------------BIOS ONLY STYLING-----------------*/

.bio-heading{
  font-size: 80px;
  margin-top: 80px;
  margin-left: 150px;
}

.manager-profile-container{
  float:right;
  width: 90%;
  margin: 20px 0px;
  height: 360px;
}

.test{
  background: #EBE8E7;
  color: #706C6B;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 75%;
  height: 300px;
  margin-top: 50px;
  padding-top: 30px;
  float: right;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0 rgba(235,232,231,0.4);
}

.test h2,
.test p{
  color: #706C6B;
  padding: 10px 30px;
  line-height: 30px;
}

.test h2{
  font-size: 30px;
}

.test p{
  font-size: 20px;
}

.bio-image{
  width: 300px;
  border-radius: 20px;
  float: left;
  box-shadow: 0px 0px 15px 0 rgba(112,108,107,0.4);
  margin-top: 50px;
  box-sizing: border-box;
}


/*------------------POD ONLY STYLING-----------------*/


.about-pod-heading{
  font-size: 100px;
  margin-left: 50px;
  margin-top: 80px;
}

.pod-setup{
  width: 100%;
}

.about-pod{
  background: #FFFCFC;
  height: 568px;
}

.pod-hosts{
  border-radius: 20px;
  margin: 50px;
  float: left;
  box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.4);
}

.about-pod-copy{
  background: #706C6B;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 50%;
  height: 468px;
  margin: 50px 0px;
  padding-top: 30px;
  float: right;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.4);
}

.about-pod-copy h2,
.about-pod-copy p{
  color: #FFFCFC;
  padding: 10px 30px;
  line-height: 30px;
}

.about-pod-copy h2{
  font-size: 30px;
}

.about-pod-copy p{
  font-size: 18px;
}

.podcast{
  background: #706C6B;
  height: 500px;
  border-radius: 20px;
  width: 80%;
  margin: 30px auto;
  box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.4);
}

.podcast h2{
  width: 80%;
  margin: 30px auto;
  font-size: 50px;
  padding-top: 50px;
}

.most-recent-pod{
  background: #EBE8E7;
  border-radius: 20px;
  height: 200px;
  width: 80%;
  margin: 30px auto;
  padding-top: 15px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.4);
  display: block;
}

.button{
  background: #EBE8E7;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  margin-left: 120px;
  font-size: 30px;
  color: #706C6B;
  box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.4);
  text-align: center;
  padding-top: 15px;
}
