/*------------------UNIVERSAL STYLING-----------------*/
*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-color: #080001;
  color: #FFFCFC;
}

h1, h2, ul a{
  font-family: "forma-djr-micro", "sans-serif";
  font-weight: 700;
  font-style: normal;
  color: #FFFCFC;
}

p{
  font-family: "forma-djr-micro", "sans-serif";
  font-weight: 400;
  font-style: normal;
}

ul{
  list-style-type: none;
}

ul a{
  text-decoration: none;
}

/*Header (There are two different styles of Header)*/


header nav li{
  display: inline-block;
  font-size: 20px;
}

.main-nav{
  margin:50px;
}

.main-nav li{
  margin-right: 50px;
}

.main-nav-img{
  margin: 20px 50px;
  float: right;
}

.main-nav-img li{
  margin-left: 50px;

}

.header-logo{
  vertical-align: middle;
  max-width: 100px;
}

/*Footer*/

footer{
  height: 220px;
}

.foot-nav{
  font-size: 30px;
  line-height: 50px;
  margin:20px 50px;
  height: 220px;
  float: left;
}

form{
  max-width: 600px;
  height: 220px;
  font-family: "forma-djr-micro", "sans-serif";
  font-weight: 700;
  font-style: normal;
  color: #FFFCFC;
  float: right;
  margin: 20px 50px;
}

.label-input-wrap{
  display: block;
  font-size: 30px;
}

textarea{
  height:100px;
  width: 500px;
  background: #FFFCFC;
  color: #080001;
  border-radius: 10px;
  margin: 5px 0px;
  padding: 5px;
  font-family: "forma-djr-micro", "sans-serif";
  font-weight: 400;
  font-style: normal;
  font-size: 15px;

}

.submit input{
  background: #EBE8E7;
  font-family: "forma-djr-micro", "sans-serif";
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  color: #FFFCFC;
  padding: 5px 10px;
  border-radius: 10px;
  float: right;

}

/*------------------INDEX ONLY STYLING-----------------*/

.home{
  background-image: url('images/helmet-bg.jpg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 99%;
}

.home-header{
  font-family: "octin-stencil", "sans-serif";
  font-weight: 700;
  font-style: normal;
  font-size: 130px;
  line-height: 130px;
  margin-left: 50px;
  margin-bottom: 250px;
}

.countdown{
  background: #080001;
  height: 400px;
}


#countdown{
  font-family: "forma-djr-micro", "sans-serif";
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  float: left;
  margin: 75px 0px;
}

.countdown-sect h2{
  float: right;
  font-size: 100px;

}

span{
  font-size: 140px;
  line-height: 130px;
}

.countdown-sect{
  background: #706C6B;
  height: 300px;
  float: left;
  width: 92%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 50px 0px;
  padding: 30px 15px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0 rgba(112,108,107,0.4);

}

.latest-pod{
  background: #FFFCFC;
  height: 400px;

}

.pod{
  border-radius: 20px;
  margin: 50px;
  float: left;
  box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.4);
}

.pod-copy{
  background: #706C6B;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 70%;
  height: 300px;
  margin: 50px 0px;
  padding-top: 30px;
  float: right;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.4);
}

.pod-copy h2,
.pod-copy p{
  color: #FFFCFC;
  padding: 10px 30px;
  line-height: 30px;
}



/*------------------ABOUT ONLY STYLING-----------------*/


/*------------------BIOS ONLY STYLING-----------------*/

.bio-heading{
  font-size: 100px;
  max-width: 70%;
  margin: 0px auto;

}

.manager-profile-container{
  float:right;
  width: 90%;
  margin: 20px 0px;
  height: 300px;
}

.test{
  background: #EBE8E7;
  color: #706C6B;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 75%;
  height: 250px;
  margin-top: 50px;
  padding-top: 30px;
  float: right;
  box-sizing: border-box;
}

.test h2,
.test p{
  color: #706C6B;
  padding: 10px 30px;
  line-height: 30px;
}

.bio-image{
  width: 300px;
  border-radius: 20px;
  float: left;
}


/*------------------POD ONLY STYLING-----------------*/
